{% extends "includes/base.html" %}

{% block title %}{{ drummer.name }}'s Albums - DrumLib{% endblock %}

{% block content %}
<div id="section-title">
    <span class="badge text-bg-primary centered-badge">{% block page_title %}<h1>{{ title }}</h1>{% endblock %}</span>
    {% load static %}
    <img src={% static "assets/img/section-title-bg-img.jpg" %} class="drummers-bg">
</div>
    <ul class="list-group">
        {% for album in albums %}
        <li class="list-group-item">
            {% for artist in album.artists.all %}
                <h2>{{ artist.name }} - {{ album.title }}</h2>
            <a href="{% url 'discography_app:album_tracks' album_title=album.title %}" class="btn btn-primary btn-sm">View Tracklist</a>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
