{% extends "includes/base.html" %}

{% block title %}Home - DrumLib{% endblock %}

{% block content %}

<h1>Welcome to DrumLib!</h1>

<p>
    Explore top drummers, their iconic albums, and tracks.<br>
    Join us, create an account to enjoy community features,<br>
    add new drummers, and expand their discographies.<br>
    Dive into your favorite artists' rich discography<br>
    or let our Random Album Generator surprise you.<br>
    Use our player to share tunes, engage in discussions,<br>
    and discover new facets of the drumming world.
</p>

<br><br><br>

<h1>Discover DrumLib features!</h1>

<p>
    • <strong>Explore Drummers:</strong> Discover top drummers and their iconic albums.<br>
    • <strong>Community Engagement:</strong> Join, create an account, and enjoy community features.<br>
    • <strong>Contribute Content:</strong> Add new drummers and expand their discographies.<br>
    • <strong>Discover Music:</strong> Dive into rich discographies or be surprised by our Random Album Generator.<br>
    • <strong>Engage in Discussions:</strong> Use our player, join discussions, and explore the drumming world.<br>
    • <strong>Community Growth:</strong> DrumLib evolves with user contributions.<br>
    • <strong>Enjoy Music:</strong> Share tunes, impressions, and help build our unique percussive library.<br>
</p>

{% endblock %}