{% extends "includes/base.html" %}

{% block title %}Home - DrumLib{% endblock %}

{% block content %}

<div class="welcome-container">
    <div class="text-container">
        <section id="welcome-section">
            <h1>Welcome to DrumLib!</h1>
            <br>
            <p>Explore top drummers, their iconic albums and tracks.<br><br>
            Dive into rich discographies.<br><br>
            Listen to music of your favorite drummers.<br><br>
            Access your online percussive library!<br><br>
            </p>
        </section>

        <section id="features-section">
            <h1>Discover DrumLib features!</h1>
            <br>
            <p>
                • <strong>Drummers Explorer:</strong> Discover top drummers <br> and learn about them.<br>
                <br>
                • <strong>Discographies:</strong> Get access to discographies <br> of world's best drummers.<br>
                <br>
                • <strong>Custom Audio Player:</strong> Listen to albums and tracks <br> featuring your favorite drummers on our platform.<br>
                <br>
                • <strong>Random Album Generator:</strong> Pick a random album <br>from the drummer of your choice.<br>
                <br>
                • <strong>Join our community:</strong> Create an account <br>and enjoy community features.<br>
                <br>
                • <strong>Contribute Content:</strong> Add new drummers to the library. DrumLib evolves with user contributions.<br>
            </p>
        </section>
    </div>

    <section class="image-container">
        <img src="static/assets/img/drummers-collage1.jpg" class="drummers-collage">
        <img src="static/assets/img/drummers-collage2.jpg" class="drummers-collage">
    </section>
</div>

{% endblock %}
