<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrumLib – your online percussive library</title>
</head>
<body>
        <h1>DrumLib</h1>

        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Register</a></li>
            <li><a href="">Drummers Explorer</a></li>
            <li><a href="">Discographies</a></li>
            <li><a href="">Random Album Generator</a></li>
        </ul>

    <footer>
        <p>&copy; 2024 DrumLib. All rights reserved.</p>
    </footer>

</body>
</html>