{% extends "includes/base.html" %}

{% block title %}Drummers - DrumLib{% endblock %}

{% block content %}

<div id="section-title">
    <span class="badge text-bg-primary centered-badge" >{% block page_title %}<h1 style="margin-top:20px; margin-bottom:40px;">{{ title }}</h1>{% endblock %}</span>
    {% load static %}
    <img src={% static "assets/img/section-title-bg-img.jpg" %} class="drummers-bg">
</div>

<div class="main-content">
    <div class="drummers-explorer container mt-4">
    <div class="row">
        {% for drummer in drummers %}
        <div class="col-md-4 mb-4" style="--bs-body-bg:#1c1e1f;">
            <div class="card" style="color:#fff;">
                {% if drummer.photos.exists %}
                <img src="{{ drummer.photos.first.image.url }}" class="card-img-top" alt="{{ drummer.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ drummer.name }}</h5>
                    <a href="{% url 'drummers_app:drummer_profile' drummer_name=drummer.name %}" class="btn btn-primary">View Profile</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</div>


{% endblock %}