{% extends "includes/base.html" %}

{% block title %}Profile - DrumLib{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
        <h2 class="card-title text-center mb-4">Profile</h2>
        {% if user.first_name %}
            <p><strong>First name:</strong> {{ user.first_name }}</p>
        {% endif %}

        {% if user.last_name %}
            <p><strong>Last name:</strong> {{ user.last_name }}</p>
        {% endif %}
        <p><strong>Username:</strong> {{ user.username }}</p>
        {% if user.profile.personal_info %}
            <p><strong>About:</strong> {{ user.profile.personal_info }}</p>
        {% endif %}
        <p><strong>Email:</strong> {{ user.email }}</p>
        {% if user.profile.avatar %}
            <p><strong>Avatar: </strong> <img src="{{ user.profile.avatar.url }}" alt="Avatar" style="width: 100px; height: 100px;"></p>
        {% else %}
            <p><strong>Avatar: </strong> No avatar uploaded.</p>
        {% endif %}
        <a href="{% url 'user_management_app:edit_profile' %}" class="btn btn-primary btn-block mt-3">Edit Profile</a>
    </div>
</div>
{% endblock %}