{% extends "includes/base.html" %}

{% block title %}Drummers List - DrumLib{% endblock %}

{% block content %}
<div id="section-title">
    <span class="badge text-bg-primary centered-badge">{% block page_title %}<h1 style="margin-top:17px; margin-bottom:20px;">{{ title }}</h1>{% endblock %}</span>
    {% load static %}
    <img src={% static "assets/img/section-title-bg-img.jpg" %} class="drummers-bg">
</div>

<div class="discographies container mt-4" >
    <ul class="list-group" id="drummer-discography-list">
        {% for drummer in drummers %}
        <li class="list-group-item">
            <div class="drummer-list">
                <div class="name">
                    <h2>{{ drummer.name }}</h2>
                    <div>
                        <a href="{% url 'discography:drummer_albums' slug=drummer.slug %}" class="btn btn-primary btn-sm">View Albums</a>
                        <a href="{% url 'discography:drummer_tracks' slug=drummer.slug %}" class="btn btn-secondary btn-sm">View Tracks</a>
                    </div>
                </div>
                <div class="disc-photo">
                    {% if drummer.photos.exists %}
                    <img src="{{ drummer.photos.first.image.url }}" class="discography-profile-img" alt="{{ drummer.name }}">
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
