body {
    background-color: #181a1b;


}


/**************************** Navbar ***********************************/
.navbar {
    border-bottom: 2px solid gray;
}

#navbarNav {
    margin-left: 100px;

}

/**************************** Main content ***********************************/
.main-content {
    overflow-y: auto;
    color: white;
    margin-bottom:100px;
}



/**************************** Home page ***********************************/
.welcome-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    margin-bottom: 120px;
    padding: 60px;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom:100px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 0px;
    width:110%;

}

#welcome-section, #features-section {
    padding: 20px;
    background-color: #0d6efd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#welcome-section h1, #features-section h1 {
    margin-top: 0;
}

#welcome-section p, #features-section p {
    margin: 0;
}

.image-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: flex-start;
    margin-bottom: 60px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .welcome-container {
        grid-template-columns: 1fr;
    }

    .image-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .image-container img {
        width: 100%;
    }
}

/**************************** Footer ***********************************/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#181a1b;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    border-top: 2px solid gray;
}


/**************************** Styles for images ***********************************/
.drumlib-logo1 {
    width: 230px;
}

.drumlib-logo2 {
    display:flex;
    width: 300px;
}

.drumlib-logo3 {
    width: 100px;
}


/**************************** Badges with section titles ***********************************/
.text-bg-primary {
    font-size: 2rem;
}

#section-title {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    border-bottom: 2px solid gray;
}

.drummers-bg{
    width: 100%;
}

.centered-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    height:80%;
    width:100%;
}

.badge {
    margin-bottom: 20px;
}



/**************************** Drummer Image Inside Card ***********************************/
.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

/**************************** drummer-profile section ***********************************/

#drummer-profile-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    border-bottom: 2px solid gray;
}

.drummer-profile-img {
    height: 330px;

}

#drummer-profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:500px;
    margin-bottom: 20px;
}

#drummer-name {
    display: flex;
    align-items: right;
    justify-content: center;
    margin-left:80px;
    margin-top:90px;
    max-height:120px;
}

.drummer-photos {
    margin-top: 70px;
}

#drummer-bio {
    max-width: 450px;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.6;
}

#drummer-bio p {
    margin-bottom: 4em;
}

#drummer-bio p::first-line {
    font-weight: bold;
}
